@charcoal-grey: #1A1A1A;
@off-white: #F7F7F7;

html {
	font-size: 12px;
}

body {
	height: 100vh;
	width: 100vw;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	display: flex;
	flex-flow: row nowrap;
}

#sidebar {
	> .sidebarSelection.homeLink {
		margin-top: 1rem;
	}
	> .sidebarSelection {
		margin: 0 1rem;

		> a {
			color: @charcoal-grey;
			text-decoration: none;
			font-size: 2.5rem;
		}
	}
}

#photoScroller {
	display: flex;
	flex-flow: row wrap;
	flex-grow: 1;

	> div {
		padding: 1rem;

		> img {
			max-width: 30vw;
			max-height: 30vh;
		
			&:nth-of-type(2) {
				display: none;
			}
		}
	}
}

#fullGallery {
	display: none;
	width: 100vw;
	height: 100vh;
	position: absolute;
	left: 0;
	top: 0;
	pointer-events: none;
	transition: all .5s ease;
	overflow: hidden;

	img {
		position: absolute;
	}
}

// Hide scrollbar
::-webkit-scrollbar {
	display: none;
}