html {
  font-size: 12px;
}
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}
::-webkit-scrollbar {
  display: none;
}
#photoScroller {
  display: flex;
  flex-flow: row wrap;
}
#photoScroller > div > img {
  max-width: 30vw;
  max-height: 30vh;
}
#photoScroller > div img:nth-of-type(2) {
  display: none;
}
#fullGallery {
  display: none;
  width: 100vw;
  height: 100vw;
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  transition: all .5s ease;
}
#fullGallery img {
  position: absolute;
}
